<div class="row">
    <div class="col-4">
        on may way guys
    </div>
    <div class="col-4">
        on may way guys
    </div>
    <div class="col-4">
        on may way guys
    </div>
</div>

<div class="row">
    <div class="col-4">
       <div class="row">
        <div class="col-4 text-bg-sucess">
            <p>{{courseName}}</p>
            <input type="text" value="{{rollNo}}" placeholder="jbj">
        </div>
       </div>
    </div>
    <div class="col-4">
        <button class="bg-primary btn" (click) ="showAlert('Welcome to this joureny')">Welcome message</button>
       
    </div>
    <div class="col-4">
       
    </div>
</div>